body {
  background-color: hsl(30, 38%, 92%);
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.perfume-picture {
  width: 100%;

}

.img-desktop {
  display: none;
}

.container {
  background-color: white;
  width: 93%;
  border-radius: 8px;
  max-width: 348.75px;
}

.container-container {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.container-produto {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tipo-produto {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: hsl(228, 12%, 48%);
  letter-spacing: 5px;
}

.nome-produto {
  font-size: 32px;
  color: hsl(212, 21%, 14%);
  font-weight: 700;
  font-family: 'Fraunces', serif;
}

.descricao-produto {
  font-family: 'Montserrat', sans-serif;
  color: hsl(228, 12%, 48%);
  line-height: 23px;
  font-size: 14px;
  width: 98%;
}

.container-compra {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.precos {
  display: flex;
  align-items: center;
  gap: 20px;
}

.preco-promo {
  font-family: 'Fraunces', serif;
  color: hsl(158, 36%, 37%);
  font-size: 32px;
}

.preco {
  font-family: 'Montserrat', sans-serif;
  color: hsl(228, 12%, 48%);
  font-size: 14px;
}

.botao {
  padding: 15px;
  width: 100%;
  background-color: hsl(158, 36%, 37%);
  border-style: none;
  color: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.botao:hover {
  background-color: hsl(158, 37%, 15%);
}

.botao img {
  width: 15px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

@media (min-width: 768px) {

  .container {
    display: flex;
    width: 75%;
    max-width: 576px;
  }

  .perfume-picture {
    border-radius: 8px 0 0 8px;
    height: 100%;
    min-width: 260.703px;
  }

  .container-container {
    padding: 2.1rem;
    min-width: 251.1px;
  }

}